html,body{
    margin:0px;
    height: 100%;
    background: #eee ;
}
.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}
.navigation{
    text-align: center;
    color: white;
    background: #1c1c1f;
    height: 100%;

}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.navigation a:hover{
    color: white;
    
}
.navigation .glyphicon{
font-size: 25px;
display: block;
width: 100%;
}

#user_logged{
    text-decoration: center;
    background: #1c1c1f;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}

#user_logged .user-image{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;

}

.artistImage img,
.album-image img{
  width: 150px;
}

.artists-list,
.album-list{
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
}

.artistItem,
.album-item{
  padding: 0 !important;
  height: 317px;
  border: 1px solid #444;
  margin: 0 20px;
}

.artistItem .artistImage,
.album-item .album-image{
  height: 245px;
  width: 100%;
  overflow: hidden;
}

.artistItem .artistImage img,
.album-item .album-image img{
  width: 100%;
  min-height: 100%;
}

.artistItem .artistName,
.album-item .album-name{
  color: white;
  padding: 10px;
  background: #222326;
}

.artistItem .artistName a,
.album-item .album-name a{
  color: white;
}

#artist-head-card .artist,
#album-head-card .image{
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

#artist-head-card .artist img,
#album-head-card .image img{
  height: 130px;
}

/*ALBUMS*/
.album-list{
  min-height: 800px;
  padding-bottom: 180px;
}

.album-item .album-image{
  height: 188px;

}

.album-item{
  height: 300px;
  margin-bottom: 20px;
}

.album-item .album-image img{
  width: 100%;
}
#song-list {
    margin: 0px;
    padding: 0px;
    min-height: 700px;
    margin-bottom: 200px;
}

.song-item {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
}

.song-item .buttons {
    float: right;
}

.song-item .title {
    padding: 15px;
}

.song-item .btn-success {
    margin-right: 15px;
}



/*PLAYER*/

.player{
  background: #1c1c1f;
  position: fixed;
  width: 90.5%;
  bottom: 0;
  padding: 20px;
  margin-left: -15px;
  border-left: 1px solid #444;
  color:gray
}


.player .album-image{
  float: left;
  width: 138px;
  height: 119px;
  overflow: hidden;
}

.player .album-image img{
  height: 100%;
}

.player .audio-file{
  width: 85%;
  height: 40px;
  margin-top: 24px;
  margin-left: 10px;
  float: left;
}

.player audio{
  width: 100%;
  height: 40px;
}

