<div class="col-lg-6">
    <h2>{{titulo}}</h2>
    <form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
        <div *ngIf="alertMessage" class="alert alert-info">
            {{alertMessage}}
          </div>
    <p>
        <label>Titulo</label>
        <input #title="ngModel" name="title" title="Titulo" class="form-control" [(ngModel)]="album.title" required>
        <span *ngIf="!title.valid && title.touched">
        El titulo es obligatorio
        </span>
    </p>

    <p>
        <label>Descripción</label>
        <textarea #description="ngModel" name="description" title="Descripción" class="form-control" [(ngModel)]="album.description" required></textarea>
        <span *ngIf="!description.valid && description.touched">
        La descripción es obligatorio
        </span>
    </p>
    <p>
        <label>Año</label>
        <input #year="ngModel" name="year" title="Año" class="form-control" [(ngModel)]="album.year" required>
        <span *ngIf="!year.valid && year.touched">
        El año es obligatorio
        </span>
    </p>

    <input type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid">
    </form>
</div>